body {
	background: #171717;
	overflow: hidden;
	font-family: monospace;
}



.logo {
	color: white;
	float: left;
	text-decoration: none;
	font-size: 2vw;
}

.active {
	color: white;
	float: right;
}

.link:hover {
	color: white;
}

li a.link {
	float: right;
	color: grey;
}

.header {
	position: sticky;
}

li a {
	text-decoration: none;
	font-weight: 600;
	font-size: 1.8vw;
	padding: 0.5vw;
	margin: 0.5vw;
	margin-right: 2vw;
	transition: 0.3s;
	display: inline;
}

ul {
	list-style-type: none;
}

.socialbtn img.itchbtn {
	width: 6vw;
	height: 6vw;
}

.socialbtn img:not(.itchbtn) {
	width: 4.5vw;
	height: 4.5vw;
}

.socialbtn img {

}

.socialbtn {
	float: right;
	display: block;
}

.social {
	bottom: 0px;
	position: absolute;
	width: 100%;
	padding: 1vw;
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
