#welcome-text
{
    font-size: 30px;
    font-weight: 700;
}

#welcome-subtitle
{
    color: grey;
}

.social-btns
{
    margin: 0 auto;
    position: relative;
    display: flex;
    -webkit-box-align: center;
}

.buttons
{
    margin: 0 auto;
    position: relative;
    display: flex;
    -webkit-box-align: center;
}

.footer
{
    position: fixed;
    bottom: 0;
    left: 20px;
    color: grey;
}