li.project {
	background: rgb(172, 172, 172);
	position: absolute;
	top: 50%;
	left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) scale(0.55);
}

li.project img {
	transform: scale(0.8);
	border: #171717 solid 7px;
	position: relative;
}

li.project .projecttxt {
	color: black;
	font-size: 450%;
	margin-left: 200px;
}