body {
	overflow-y: auto;
}

.parentProjects {
	position: absolute;
	left: 50%;
	top: 25%;
}

ul.projects {
	position: relative;
	left: -50%;
	background-color: #292929;
}

li.project::after {
  content: "";
  clear: both;
  display: table;
}

li.project img {
	position: relative;
	width: 20%;
	padding: 1vw;
	padding-left: 0;
	float: left;
}

li.project .projectTitle {
	font-size: 1vw;
	padding-top: 1vw;
	color: white;
}

li.project .projectDsec {

}

li.project .projectLink {
	font-size: 1vw;
	margin: 0;
	padding: 0;
	margin-right: 1.5vw;
	color: orange;
}

li.project .projectLink:visited {
	color: orange;
}
